*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}




body{
  height: 100vh;
  background: #212529;
}


.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 70px;

}

.navbar h2{
  color: #42aaff;
  font-weight: 600;
  font-size: 30px;
}
.navbar ul{
  margin-left: 7.5%;
  display:flex;
}
.navbar ul li{

  list-style:none;
}


.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-left: 30px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a{
  color: #42aaff;
}


.btn{
  background: #42aaff;
  padding: 8px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #212529;

}

.btn:hover{
  background:#0f93ff;
}



.dropbtn {
    background-color: #292b2e;
    color: #ddd;
    padding: 15px 30px;
    font-size: 16px;
    border: 2px solid #42aaff;
    border-radius: 5px;
    transition: border-color ease 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-color: #ddd;
}