
.Table{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: nowrap;
	width: 100%;
  border-radius: 2px;
	border-collapse: collapse;
  padding: 10px;

}
.Table tr{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: 2px solid #42aaff;
  border-radius: 10px;
  height: 120px;
  width: 100%;
  margin-top: 8px;
}

.Table td{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: 2px solid #ddd;
  border-radius: 10%;
  padding: 10px 10px;
  width: 100px;
  height: 100px;
  text-decoration: none;
  color: #ddd;
  margin-left: 10px;
  margin-right: 10px;
}
