<div class="headofclub">

    <div class="head">
      <div class="head1"> <h4>Председатель клуба <span>"Го-в-го"</span> </h4> </div>
      <div class="head2">
      <img src="andreyzimin.jpg" >
      <p class="name">Андрей Зимин</p>
    </div>
    </div>
    <div class="head">
      <div class="head1">
      <h4>Идейный вдохновитель</h4>
    </div>
    <div class="head2">
      <img src ="iskanderzulkarneev.jpg">
      <p class="name">Искандер Зулькарнеев</p>
    </div>
    </div>


</div>
