{% extends "main.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/authpage.css">
{% endblock %}
{% block body %}
<div class="auth">
    <form action="authpage" method="post" class="form-auth">
        <h3>Вход</h3>
        <input class = "text-field" type="text" name="username" placeholder="Введите логин" value="" required/>


        <input class = "text-field"  type="password" name="password" placeholder="Введите пароль" value="" required/>
        <input class = "btn-sum"  type="submit" value="Войти"/>

    </form>

</div>
{% endblock %}