{% extends 'main.html' %}
{% block style %}
<link rel="stylesheet" href="/static/css/admin-panel.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/admin-ajax.js"></script>
{% endblock %}
{% block body %}
<div class="main">

    <select class = 'select-menu'>
        <option value="User">User</option>
        <option value="Player">Player</option>
        <option value="Group">Group</option>
        <option value="Season">Season</option>
        <option value="Game">Game</option>
    </select>
    <div class = 'cont' id="cont">
        <table id = 'Table'>

        </table>
    </div>
</div>
{% endblock %}