{% extends 'main.html' %}
{% block style %}

{% endblock %}
{% block body %}

<div class="main">
    <h3>Недавние партии</h3>
    <Table>
        <tr>
            <td>Группа</td>
            <td>Игрок 1</td>
            <td>Результат партии</td>
            <td>Игрок 2</td>
        </tr>
    {% for game in Datebase.select_accepted_games() %}
        <tr>
            <td></td>
            <td>{{game[5]}}</td>
            <td>{% if game[2] %}
                    1:0
                {% else %}
                    0:1
                {% endif %}

            </td>
            <td>{{game[8]}}</td>
        </tr>
    {% endfor %}
    </Table>
</div>


{% endblock %}