{% extends 'main.html' %}

{% block style %}
<link rel="stylesheet" href="/static/css/groups.css">
{% endblock %}

{% block body %}
<div class = "main">
    <h3>Результаты</h3>
</div>
<div class="groups">

    <div class = "secondgroups">
        <a class = "othergroups" href="a">
            <h3> Группа <span> A </span> </h3>

        </a>
        <a class = "othergroups" href="s">
            <h3> Группа <span> S </span> </h3>


        </a>
        <a class = "othergroups" href="b">
            <h3> Группа <span> B </span> </h3>


        </a>
    </div>


</div>

{% endblock %}