{% extends 'main.html' %}

{% block style %}
<link rel="stylesheet" href="/static/css/groups.css">
<script src="/static/js/css_helper.js"></script>
{% endblock %}

{% block body %}
<div class = "main">
    <h3>Результаты</h3>
</div>
<div class="groups">
    {% for season in seasons %}
    <button onclick=myFunction({{season.id}}) class="seasondropbtn">{{season.name}}</button>
    <div id = "seasondrop{{season.id}}"  class = "seasongroup">
        {% for group in select.select_divisions_in_season(season.id)%}
            <a class = "group" href="/groups/{{group.id}}">
                <h3> Группа <span> {{group.name}} </span> </h3>
            </a>
        {% endfor %}


        </a>
    </div>
    {% endfor %}

</div>

{% endblock %}