{% extends "main.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/members.css">

{% endblock %}
{% block body %}

<table class="Table">
    <tbody>
        <tr>
            <td> Имя пользователя </td>
            <td> Счет за все время </td>
            <td> Счет за текущий сезон </td>
            <td> Группа </td>
            <td> Очки </td>
        </tr>
        {% for member in members %}
        <tr>
            <td>{{member[1]}}</td>
            <td></td>
            <td>{{member[6]}} : {{member[5] - member[6]}}</td>
            <td>{{member[4]}}</td>
            <td>{{"%0.1f" % (member[7]*100)}}</td>
        </tr>
        {% endfor %}
    <tbody>
</table>


{% endblock %}