{% extends "main.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/members.css">

{% endblock %}
{% block body %}

<table class="Table">
    <tbody>
        <tr>
            <td class="header"><p class='title'><span>Имя пользователя</span></p> </td>
            <td class="header"> <p class='title'><span>Счет за все время</span></p> </td>
            <td class="header"> <p class='title'><span>Счет за текущий сезон</span></p> </td>
            <td class="header"> <p class='title'><span>Группа</span></p> </td>
            <td class="header"> <p class='title'><span>Очки</span></p> </td>
        </tr>
        {% for member in members %}
        <tr>
            <td class="member-info">{{member[1]}}</td>
            <td class="member-info">{{member[4]}} {{" "}}: {{" "}}{{ member[5]}}</td>
            <td class="member-info">{{member[6]}} : {{ member[7]}}</td>
            <td class="member-info"><p class = {{member[3]}}><span>{{member[3]}}</span></p></td>
            <td class="member-info">{{"%0.1f" % member[8]}}</td>
        </tr>
        {% endfor %}
    <tbody>
</table>


{% endblock %}