{% extends 'main.html' %}

{% block style %}
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block body %}
<div class="main">

    <div class="user-block">
        <h4>{{current_user.get_user().name}}</h4>
        <div class="user-info-block">
            <div class="text"><span>Почта:</span></div>
            <div class="text"> {{current_user.get_user().email}}</div>
        </div>
        <div class="user-info-block">
            <div class="text"> <span>Дата регистрации:</span> </div>
            <div class="text"> {{current_user.get_user().registered_on.date()}} </div>
        </div>
        <div class="user-info-block">
            <div class="text"><span>Верификация:</span>    {%if current_user.get_user().is_valid%}
            Почта подтверждена {% else %}</div> <form action="/profile/ver"><button type="submit">Подтвердить почту</button></form>{% endif %}
        </div>

        <div class="user-info-block">
            <div class="text"><span>Группа:</span></div>
            {% if Datebase.select_users_stat(current_user.get_user().id)[3] %}
                    <div class="text">{{Datebase.select_users_stat(current_user.get_user().id)[3]}}</div>
            {% else %}
                <div class="text">Отсутствует
                      <form action="/profile/join/group"><button type="submit"> Вступить </button></form>
                </div>
        </div>
        <div class="user-info-block">
            <div class="text"> <span>Пароль</span> <form action="/profile/change/password"><button type="submit"> Сменить </button></form></div>

        </div>


            {% endif %}
        </div>

    </div>


</div>

{% endblock %}