{% extends 'main.html' %}

{% block style %}
<link rel="stylesheet" href="/static/css/styletable.css">

{% endblock %}
{% block body %}
    <div class="main">
      <h3>Результаты <span> группы {{current_group.name}}</span> за декабрь</h3>
    </div>
    <table class = "Table">

      {
        <tbody>
          <tr>
            <td class="self-to-self"></td>
            {% for counter in range(count) %}
                <td class ="self-to-other">{{matrix[counter][4]}}</td>
            {% endfor %}
            <td class="self-to-other">Процент побед</td>
            <td class="self-to-other">Счет</td>
            <td class="self-to-other">Очки</td>

          </tr>
           <tr>
          {% for counter in range(count*count) %}
             {% if ((counter + 1)%count)==1 %}
              <td class="self-to-other">{{matrix[counter][2]}}</td>
             {% endif %}
            <td class={{matrix[counter][0]}}>{{matrix[counter][6]}}:{{matrix[counter][5]}}</td>

            {% if ((counter + 1)%count)==0 %}
              <td class="self-to-other">{{matrix[counter][9]}}</td>
              <td class="self-to-other">{{matrix[counter][8]}}:{{matrix[counter][7]}}</td>
              <td class="self-to-other">{{matrix[counter][10]}}</td>
                  </tr>
                  {% if counter + 1!=(count*count) %}
                  <tr>
                  {% endif %}
            {% endif%}
          {% endfor %}
        </tbody>
    </table>
{% endblock %}
