{% extends 'main.html' %}

{% block style %}
<link rel="stylesheet" href="/static/css/styletable.css">

{% endblock %}
{% block body %}
    <div class="main">
      <h3>Результаты <span> группы S</span> за декабрь</h3>
    </div>
    <table class = "Table">
        <tbody>
          <tr>
            <td></td>
            <td>SideArket</td>
            <td>Koryden</td>
            <td>JohnLenin</td>
            <td>lv_t</td>
            <td>berukhov</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>SideArket</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Koryden</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>JohnLenin</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>lv_t</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>berukhov</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
    </table>
{% endblock %}
