*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}




body{
  height: 100vh;
  background: #212529;
}


.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;

}

.navbar h2{
  color: #42aaff;
  font-weight: 600;
  font-size: 30px;
}
.navbar ul{
  margin-left: 7.5%;
  display:flex;
}
.navbar ul li{

  list-style:none;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-left: 30px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a{
  color: #42aaff;
}


.btn{
  background: #42aaff;
  padding: 8px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #212529;

}

.btn:hover{
  background:#0f93ff;
}